{% extends 'base.html' %}
{% block title %}TypeRacer | About{% endblock title %}
{% block content %}
{% block script %}
<style>
  .about i {
      margin: 5px;
  }
  .about {
      font-size: 1.5rem;
  }
</style>
{% endblock script %}

<div class="container">
  <p>I am a self taught developer who likes to build stuff on the web</p>
  <p>Contact me here</p>
  <p class='about-container'>
  <a class='btn btn-light text-dark about' target="blank" href="https://github.com/vshalt">
    <i class="fab fa-github"></i>Github
  </a>
  <a class='btn btn-light text-dark about' href="mailto:chocotacove@gmail.com">
    <i class="far fa-envelope"></i>Email
  </a>
  </p>
</div>
{% endblock content %}
