*{
    font-family: Helvetica, sans-serif;
    scroll-behaviour: smooth;
    box-sizing: border-box;
}

.about a{
    color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
